
body {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

body h1 {
  margin: 0px;
  padding: 0px;
}

body a {
  border: 3px solid var(--bright);
  border-radius: 4px;
  text-decoration: none;
  padding: 0px;
  margin: 2px;
}

body a:hover {
  color: fuchsia;
  curd
} 
